.custom-switch {
  --false: #e81b1b;
  --true: #009068;

  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
  cursor: pointer;
}

.custom-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--false);
  border-radius: 4px;
  transition: 0.3s ease;
}

.custom-switch input:checked+.slider::before {
  transform: translate(21px, -50%);
  background-color: var(--true);
}