html,
body {
  overflow-x: hidden;
}

.app {
  width: 100vw;
  min-height: 100vh;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
  outline: none;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}